.profile__about {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  align-self: start;
  max-width: 518px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 918px) {
  .profile__about {
    font-size: 14px;
    line-height: 17px;
    align-self: center;
    max-width: 229px;
    padding-left: 27px;
  }
}
