.edit-form__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 13px;
  font-size: 14px;
  line-height: 17px;
  color: black;
  text-align: left;
  max-width: 358px;
  height: 27px;
  margin: 54px 0 30px 36px;
  box-sizing: border-box;
  outline: none;
}

.edit-form__input:nth-child(2) {
  margin: 0 0 48px 36px;
}
