.profile__add-content {
  margin-left: auto;
  background-color: transparent;
  background-image: url(../../../images/add-button.png);
  object-fit: fill;
  border: none;
  width: 150px;
  height: 50px;
  cursor: pointer;
  background-repeat: no-repeat;
  transition: 0.2s;
}

.profile__add-content:hover {
  opacity: 0.6;
}

