.elements__card {
  overflow: hidden;
  border-radius: 10px;
  background-color: #FFFFFF;
  height: 361px;
  width: 282px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 240px 42px;
  grid-template-rows: 282px;
  grid-template-areas:
    "image image"
    "description like";
}
