.edit-form {
  min-height: 330px;
  width: 430px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
}

@media screen and (max-width: 918px) {
  .edit-form {
    min-height: 322px;
    width: 282px;
  }
}
