.profile__description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (max-width:918px) {
  .profile__description {
    gap: 14px;
    margin-top: 26px;
    text-align: center;
  }
}
