.elements__like {
  grid-area: like;
  background-color: transparent;
  border: none;
  height: 19px;
  width: 22px;
  align-self: center;
  justify-self: end;
  margin-right: 20px;
  background-repeat: no-repeat;
  transition: opacity 0.2s;
}

.elements__like:hover {
  opacity: 50%;
  cursor: pointer;
}

